/* playing with colors */

summary{
    border-radius: 20px;
}

.hint-container details{
    border-radius: 10px;
}
body{
    background-color: black;
}
h1,p,a summary,details,section{
    color: greenyellow;
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.game-board-container span{
height: 30px;

}

main, footer{
    background-color: black;
}
.game-board-container, .guessed-box-container{

    background-color: black;
    border: greenyellow solid 1px;
    border-radius: 20px;
}
/* main container styles */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#main-container{
    max-width: 450px;
}

@keyframes myAnim {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

h1 {
    animation: myAnim 2s ease 0s 1 normal forwards;
    font-size: 24px;

}

/* order of containers */
.header-container {
    order: 0;
    border: greenyellow solid 1px;
  
}

.rules-container {
    order: 1;
}

.high-scores-container {
    order: 2;
}

#hint-score-container {
    order: 3;
    margin-bottom: 0;
}

.game-container {
    order: 4;
    text-align: center;
}
.game-board-container{
    display: flex;
    padding: 20% 0;
    justify-content: center;
    align-items: center;
    
}
.game-board-container span{
    display: inline-block;
    border-bottom: greenyellow solid 1px;
    width: 20px;
    margin: 0 10px;
}


/*  Header Layout*/
header {
    animation: slideIn 1s ease-in-out;
    text-align: center;
}

/* layout/styles for the Summary tags */

.rules-container details,
.high-scores-container details,
.hint-container details{
    border: greenyellow solid 1px;
    max-width: 100%;
}

.rules-container details,
.high-scores-container details,
.hint-container details {
    text-align: center;
    min-height: 50px;
}
.high-scores-container button{
    border: greenyellow solid 1px;
    background: none;
    color: greenyellow;
    height: 30px;
    border-radius: 10px;
}
.high-scores-container button:hover{
 background-color: greenyellow;
 color: black;   
}
/* Game Container styles/layout  includes  GAME BOARD AND GAME GUESSED BOX for all screens */
.game-container {
    height: 500px;
}

.game-board-container {
    animation: fadeIn 2s ease-in-out; /* Animations */
    margin: 40px 0 20px 0;
    min-height: 50%;
}

.guessed-box-container {
    min-height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: fadeIn 2s ease-in-out; /* Animations */
}

.guessed-box-container span{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: greenyellow solid 1px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 4%;
}
#score-container {
    height: 100px;
    border: greenyellow solid 1px;
    animation: fadeIn 2s ease-in-out; /* Animations */
}

/* footer layout */
footer {
    margin: 0 auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: greenyellow solid 1px;
}

footer p {
    height: fit-content;
    margin: 0;
    text-align: center;

}

footer ul {
    text-align: center;
}

/*  large Container Styles */
@media screen and (min-width: 685px) {
    /* main container styles for large  screens */
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #main-container {
        max-width: 1200px;
    }

    #rules-container {
        order: 0;
        width: 30%;
        height: 100px;
    }
    
/* header styles for large screens*/
    .header-container {
        order: 1;
        width: 40%;
        height: 200px;
        border: none;
    }



    #high-scores-container {
        order: 2;
        width: 30%;
        height: 100px;
    }

    #hint-score-container {
        order: 3;
        width: 30%;
        height: 700px;
        padding: 30px 40px;
        animation: fadeIn 2s ease-in-out; /* Animations */

    }

    .hint-container {
        margin: 40% 0 20% 0;
        animation: floatAnimation 2s ease-in-out infinite; /* animated*/
    }

    #game-container {
        order: 2;
        width: 68%;
        height: 700px;
        padding: 0 3%;
    }
    /* summary tag styles for large screens */
    .rules-container summary,
    .high-scores-container summary{
    max-width: 100%;
    height: 50px;
    border: greenyellow solid 1px;
  margin-top: 20px;
    }
    .rules-container summary:hover,
    .high-scores-container summary:hover, .hint-container details:hover{
        background-color: greenyellow;
        color: black
    }

    .rules-container details,
.high-scores-container details,.hint-container details{
    max-width: 100%;
    border: none;
   
}
.hint-container summary{
    border: greenyellow solid 1px;
    height: 30px;
}
.rules-container details[open], .high-scores-container details[open]{
    border: greenyellow 1px solid;
    border-top: none;
    border-radius: 0 0 30px 30px;
    z-index: 1;
}

    #hint-score-container{
        margin: 0;
    }
    /* Footer Layout  for large screens*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: greenyellow solid 1px;
        max-width: 1200px;
        align-items: center;
    }

    footer ul {
        display: flex;
        justify-content: space-around;
        width: 80%;
    }
<<<<<<< HEAD
}

=======
    /* Game Board Container styles for large screens */
    .game-board-container span{
        display: inline-block;
        border-bottom: greenyellow solid 1px;
        width: 45px;
        margin: 0 10px;
    }
}



#actionBtn{
    border-radius: 12px;
    background-color: greenyellow;
}

#play-again-button{
    background-color: greenyellow;
    border-radius: 12px;
}